# Copyright (c) 2015, the Fletch project authors. Please see the AUTHORS file
# for details. All rights reserved. Use of this source code is governed by a
# BSD-style license that can be found in the LICENSE.md file.

# The following match filenames in any directory.
packages
*.pyc
*.class
.flaky.log
.DS_Store
.ninja_deps
.ninja_log
.fletch
.*.swp
.idea
*.iml
.gdb_history
*~

# The following match exact path names starting from the location of this file.
/fletch.xcodeproj/
/jniLibs/
/out/
/pkg/mdns/lib/native/libmdns_extension_lib.so
/pkg/mdns/lib/native/libmdns_extension_lib.dylib
/samples/github/generated/
/samples/simple_todo/generated/
/samples/todomvc/java/
/src/compiler/compiler.xcodeproj/
/src/double_conversion.xcodeproj/
/src/shared/shared.xcodeproj/
/src/vm/vm.xcodeproj/
/tests/service_tests/service_tests.xcodeproj/
/third_party/args
/third_party/bin/linux/dart
/third_party/bin/linux/dart-arm
/third_party/bin/mac/dart
/third_party/charcode/
/third_party/crypto/
/third_party/collection/
/third_party/dart/
/third_party/dart2js_info/
/third_party/dartdoc_deps/dart-sdk.tar.gz
/third_party/dartdoc_deps/dart-sdk
/third_party/gyp/
/third_party/isolate/
/third_party/openocd/
/third_party/package_config/
/third_party/path/
/third_party/persistent/
/third_party/pub_semver/
/third_party/qemu/linux/qemu.tar.gz
/third_party/qemu/linux/qemu/
/third_party/raspbian/image.tar.gz
/third_party/raspbian/image
/third_party/raspbian/kernel.tar.gz
/third_party/raspbian/kernel
/third_party/stm/STM32Cube_FW_F4_V1.9.0.tar.gz
/third_party/stm/STM32Cube_FW_F4_V1.9.0/
/third_party/stm/STM32Cube_FW_F7_V1.2.0.tar.gz
/third_party/stm/STM32Cube_FW_F7_V1.2.0/
/third_party/yasm/source
/tools/testing/bin/linux/dart
/tools/testing/bin/linux/dart-arm
/tools/testing/bin/mac/dart
/tools/vs_dependency/win_toolchain.json
/xcodebuild/
