.gradle
/local.properties
/.idea/codeStyleSettings.xml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/app/src/main/java/dartino
/app/src/main/res/raw/github_snapshot
libdartino.so
gdbserver
gdb.setup
